.content {
    border-radius: 10%;
    padding: 6rem 0;
    display: flex;

    .book-details-content {
        display: flex; /* Ändra till flex för att placera bilden till vänster och texten till höger */
        align-items: center; /* Centrera vertikalt */

        .book-details-img {
            max-width: 50%; /* Använd 50% av bredden för att placera bilden till vänster */
            max-height: 400px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .book-details-item {
            margin-left: 2rem; /* Lägg till mellanrum mellan bilden och texten */

            &.description {
                opacity: 0.8;
            }

            .Favo_title {
                font-size: 1.5rem; /* Exempel på hur du kan anpassa textens utseende */
                margin-bottom: 0.5rem;
            }

            .Favo_places,
            .Favo_times,
            .Favo_subjects {
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .book-details-content {
        flex-direction: row; /* Återställ till standard flexriktning */
        grid-template-columns: 40% 60%;
        gap: 0;
    }

    .book-details-img {
        padding: 0 6rem 0 2rem;
    }

    .book-details-img img {
        max-width: 100%;
    }
}

